page-schedule {
	.card {
		background-color: #F0F3F6; // black
		margin: 2px;
		padding: 5px;
	}
	.row{
		align-items: center;
	}
	.timeline {
		background: linear-gradient(#000, #000) no-repeat center/2px 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
	}
}
